.imageDetailGHHContainer 
{
  flex: 1;
  padding: 20px;
  height: 106vh;
  text-align: center;
}
  
button.backButton
{
  cursor: pointer;
  font-size: 3rem;
}
  
.imageDetailGHHTitle 
{
    font-size: 3rem;
    margin-bottom: 20px;
}
  
.imageDetailGHHIntro 
{
  font-size: 1rem;
  color: #ffffff;
  background: linear-gradient(235deg, #000000, #424f85, #000000);
  border: 5px solid white;
  border-radius: 2rem;
  padding: 15px;
  margin: 3px 6px;
  text-align: center;
  margin-bottom: 2rem;
}
  
.imageDetailGHHImage 
{
  text-align: center;
}
  
.imageDetailGHHImg 
{
  max-width: 100%;
  max-height: 100%;
  border: 2px solid #ddd;
  border-radius: 4px;
  margin-bottom: 10px;
}
  
.imageDetailGHHDesc 
{
  font-size: 1rem;
  color: #ffffff;
  background: linear-gradient(235deg, #000000, #424f85, #000000);
  border: 5px solid white;
  border-radius: 2rem;
  padding: 15px;
  margin: 3px 6px;
  text-align: center;
  margin-bottom: 2rem;
}
  
@media (min-width: 1024px) 
{
  .imageDetailGHHTitle 
  {
    font-size: 3rem;
  }
}
  
@media (max-width: 1023px) 
{
  button.backButton 
  {
    font-size: 2.5rem;
    left: 20px;
    top: 10px;
  }
  
  .imageDetailGHHTitle 
  {
    font-size: 2.5rem;
  }
  
  .imageDetailGHHIntro 
  {
    font-size: 0.9rem;
  }
}

@media (max-width: 767px) 
{
  button.backButton 
  {
    font-size: 2rem;
    left: 15px;
    top: 10px;
  }
  
  .imageDetailGHHTitle 
  {
    font-size: 2rem;
  }
  
  .imageDetailGHHIntro 
  {
    font-size: 0.8rem;
  }
}
  
@media (max-width: 599px) 
{
  button.backButton 
  {
    font-size: 1.5rem;
    left: 10px;
    top: 10px;
  }
  
  .imageDetailGHHTitle 
  {
    font-size: 1rem;
    margin-bottom: 15px;
  }
  
  .imageDetailGHHIntro 
  {
    font-size: 0.9rem;
    padding: 10px;
  }
  
  .imageDetailGHHDesc 
  {
    font-size: 0.7rem;
    padding: 10px;
  }
}