#intro
{
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.bg
{
    position: absolute;
    top: 6.5rem;
    right: 50px;
    z-index: -1;
    object-fit: cover;
    height: 75vh;
    border-radius: 20rem;
}

.introContent
{
    height: 100vh;
    width: 100vw;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hello
{
    font-size: 1.75rem;
    font-weight: 100;
}

.introText
{
    color: #f2abfd;
}

.introName
{
    color: lightskyblue;
}

.introPara
{
    font-size: medium;
    font-weight: 300;
    margin-top: 1rem;
}

.resumeButtons
{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btn
{
    background: white;
    font-weight: 500;
    display: flex;
    margin: 1rem 0;
    width: 250px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

.btn:hover
{
    background: lightskyblue;
}

.btnImg
{
    object-fit: cover;
    margin: auto;
    height: 1rem;
}

@media screen and (max-width: 1024px) 
{
    .bg 
    {
        right: 2vw;
        height: 70vh;
    }
    .introContent 
    {
        font-size: 2.5rem;
        height: 110vh;
    }
    .hello 
    {
        font-size: 1.5rem;
    }
    .btn 
    {
        width: 245px;
    }
}

@media screen and (max-width: 768px) 
{
    .bg 
    {
        right: -2.5vw;
        height: 70vh;
    }
    .introContent 
    {
        font-size: 2rem;
        padding: 1.5rem;
    }
    .hello 
    {
        font-size: 1.3rem;
    }
    .introPara
    {
        width: 225px;
    }
    .resumeButtons 
    {
        display: flex;
        flex-direction: row;
    }
    .btn 
    {
        width: 225px;
    }
    .btnImg
    {
        height: 0.85rem;
    }
    .resumeButtons p
    {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 426px) 
{
    .bg 
    {
        right: -5vw;
        height: 60vh;
    }
    .introContent 
    {
        height: 110vh;
        font-size: 1.8rem;
    }
    .hello 
    {
        font-size: 1.2rem;
    }
    .introText
    {
        font-size: 1.2rem;
    }
    .introPara 
    {
        font-size: 0.9rem;
    }
    .resumeButtons 
    {
        display: flex;
        flex-direction: column;
    }
    .btn
    {
        width: 175px;
    }
    .btnImg
    {
        height: 0.75rem;
    }
    .resumeButtons p
    {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 400px) 
{
    .bg 
    {
        right: -5vw;
        top: 30vh;
        height: 50%;
    }
    .introContent 
    {
        height: 110vh;
        font-size: 1.8rem;
    }
    .hello 
    {
        font-size: 1.2rem;
    }
    .introText
    {
        font-size: 1.2rem;
    }
    .introPara 
    {
        font-size: 0.9rem;
    }
    .resumeButtons 
    {
        display: flex;
        flex-direction: column;
    }
    .btn
    {
        width: 175px;
    }
    .btnImg
    {
        height: 0.75rem;
    }
    .resumeButtons p
    {
        font-size: 0.75rem;
    }
}

@media screen and (max-width: 376px) 
{
    .bg 
    {
        right: -5vw;
        height: 50vh;
    }
    .introContent 
    {
        font-size: 1.5rem;
    }
    .hello 
    {
        font-size: 1.1rem;
    }
    .btn 
    {
        width: 170px;
    }
}

@media screen and (max-width: 320px) 
{
    .bg 
    {
        right: -5vw;
        top: 50vh;
        height: 50%;
    }
    .introContent 
    {
        font-size: 1.2rem;
    }
    .hello 
    {
        font-size: 1rem;
    }
    .btn
    {
        width: 125px;
    }
    .btnImg
    {
        height: 0.75rem;
    }
    .resumeButtons p
    {
        font-size: 0.6rem;
    }
}