.footer
{
    width: 100vw;
    height: 4rem;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
}

@media screen and (max-width: 720px)
{
    .footer
    {
        height: 3rem;
    }
}